<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginRegisterFirebase"
        tools:targetApi="31">
        <activity
            android:name=".Staffhome"
            android:exported="false" />
        <activity
            android:name=".StaffHomepage"
            android:exported="false" />
        <activity
            android:name=".Maps"
            android:exported="false" />
        <activity
            android:name=".Maps1"
            android:exported="false" />
        <activity
            android:name=".VolunteerHomepage"
            android:exported="false" />
        <activity
            android:name=".VolunteerReport"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".StaffMap"
            android:exported="false" />
        <activity
            android:name=".VolunteerMap"
            android:exported="false" />
        <activity
            android:name=".NextActivity"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".StaffBoxStatusActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDiCgM-SEgk-SbTvf0sv1UmVLhMvUE_GoE" />
    </application>

</manifest>